version: '2'

volumes:
 orderer1.base.order:
 orderer2.base.order:
 orderer3.base.order:
 peer1.base.left:
 peer1.base.right:  

networks:
  byfn:

services:

  orderer1.base.order:
    extends:
      file: base.yaml
      service: orderer-base
    container_name: orderer1.base.order
    networks:
    - byfn
    volumes:
        - ./artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer1.base.order/msp:/var/hyperledger/orderer/msp
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer1.base.order/tls:/var/hyperledger/orderer/tls
        - orderer1.base.order:/var/hyperledger/production/orderer
    ports:
    - 7050:7050
  orderer2.base.order:
    extends:
      file: base.yaml
      service: orderer-base
    container_name: orderer2.base.order
    networks:
    - byfn
    volumes:
        - ./artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer2.base.order/msp:/var/hyperledger/orderer/msp
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer2.base.order/tls:/var/hyperledger/orderer/tls
        - orderer2.base.order:/var/hyperledger/production/orderer
    ports:
    - 8050:7050  

  orderer3.base.order:
    extends:
      file: base.yaml
      service: orderer-base
    container_name: orderer3.base.order
    networks:
    - byfn
    volumes:
        - ./artifacts/genesis.block:/var/hyperledger/orderer/orderer.genesis.block
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer3.base.order/msp:/var/hyperledger/orderer/msp
        - ./crypto-config/ordererOrganizations/base.order/orderers/orderer3.base.order/tls:/var/hyperledger/orderer/tls
        - orderer3.base.order:/var/hyperledger/production/orderer
    ports:
    - 9050:7050  

  peer1.base.left:
    container_name: peer1.left.base
    extends:
      file: base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.left.base
      - CORE_PEER_ADDRESS=peer1.left.base:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer1.left.base:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.left.base:8051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.left.base:7051
      - CORE_PEER_LOCALMSPID=LeftOrgMSP
    volumes:
        - /var/run/:/host/var/run/
        - ./crypto-config/peerOrganizations/base.left/peers/peer1.base.left/msp:/etc/hyperledger/fabric/msp
        - ./crypto-config/peerOrganizations/base.left/peers/peer1.base.left/tls:/etc/hyperledger/fabric/tls
        - peer1.base.left:/var/hyperledger/production
    ports:
      - 7051:7051
    networks:
      - byfn    

  peer1.base.right:
    container_name: peer1.right.base
    extends:
      file: base.yaml
      service: peer-base
    environment:
      - CORE_PEER_ID=peer1.right.base
      - CORE_PEER_ADDRESS=peer1.right.base:9051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:9051
      - CORE_PEER_CHAINCODEADDRESS=peer1.right.base:9052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:9052
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer1.right.base:10051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.right.base:9051
      - CORE_PEER_LOCALMSPID=RightOrgMSP
    volumes:
        - /var/run/:/host/var/run/
        - ./crypto-config/peerOrganizations/base.right/peers/peer1.base.right/msp:/etc/hyperledger/fabric/msp
        - ./crypto-config/peerOrganizations/base.right/peers/peer1.base.right/tls:/etc/hyperledger/fabric/tls
        - peer1.base.right:/var/hyperledger/production
    ports:
      - 9051:9051
    networks:
      - byfn    

  ca_left:
      extends:
        file: base.yaml
        service: ca-base
      environment:
        - FABRIC_CA_SERVER_CA_NAME=ca-left
        - FABRIC_CA_SERVER_TLS_CERTFILE=/etc/hyperledger/fabric-ca-server-config/ca.base.left-cert.pem
        - FABRIC_CA_SERVER_TLS_KEYFILE=/etc/hyperledger/fabric-ca-server-config/74aba2927240dee82f0883df304062c44f01368f5b741e866c16c47f01a6c135_sk
        - FABRIC_CA_SERVER_PORT=7054
      ports:
        - "7054:7054"
      command: sh -c 'fabric-ca-server start --ca.certfile /etc/hyperledger/fabric-ca-server-config/ca.base.left-cert.pem --ca.keyfile /etc/hyperledger/fabric-ca-server-config/74aba2927240dee82f0883df304062c44f01368f5b741e866c16c47f01a6c135_sk -b admin:adminpw -d'
      volumes:
        - ./crypto-config/peerOrganizations/base.left/ca/:/etc/hyperledger/fabric-ca-server-config
      container_name: ca_left
      networks:
      - byfn

  ca_right:
      extends:
        file: base.yaml
        service: ca-base
      environment:
        - FABRIC_CA_SERVER_CA_NAME=ca-right
        - FABRIC_CA_SERVER_TLS_CERTFILE=/etc/hyperledger/fabric-ca-server-config/ca.base.right-cert.pem
        - FABRIC_CA_SERVER_TLS_KEYFILE=/etc/hyperledger/fabric-ca-server-config/5b554e0f9e2fbe09e3f8d0da6a6569e4c6afbe1eaf875a27d44281338e1d3033_sk
        - FABRIC_CA_SERVER_PORT=7054
      ports:
        - "7056:7056"
      command: sh -c 'fabric-ca-server start --ca.certfile /etc/hyperledger/fabric-ca-server-config/ca.base.right-cert.pem --ca.keyfile /etc/hyperledger/fabric-ca-server-config/5b554e0f9e2fbe09e3f8d0da6a6569e4c6afbe1eaf875a27d44281338e1d3033_sk -b admin:adminpw -d'
      volumes:
        - ./crypto-config/peerOrganizations/base.right/ca/:/etc/hyperledger/fabric-ca-server-config
      container_name: ca_right
      networks:
      - byfn

  couchdb:
    container_name: couchdb
    image: couchdb:2.3
    # Populate the COUCHDB_USER and COUCHDB_PASSWORD to set an admin user and password
    # for CouchDB.  This will prevent CouchDB from operating in an "Admin Party" mode.
    environment:
      - COUCHDB_USER=
      - COUCHDB_PASSWORD=
    ports:
      - 5984:5984
    networks:
      - byfn 
      
  cli:
      container_name: cli
      image: hyperledger/fabric-tools:$IMAGE_TAG
      tty: true
      stdin_open: true
      environment:
        - GOPATH=/opt/gopath
        - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
        #- FABRIC_LOGGING_SPEC=DEBUG
        - FABRIC_LOGGING_SPEC=INFO
        - CORE_PEER_ID=cli
        - CORE_PEER_ADDRESS=peer1.base.left:7051
        - CORE_PEER_LOCALMSPID=LeftOrgMSP
        - CORE_PEER_MSPCONFIGPATH=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/base.left/users/Admin@base.left/msp
        - CORE_PEER_TLS_ENABLED=true
        - CORE_PEER_TLS_CERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/base.left/peers/peer1.base.left/tls/server.crt
        - CORE_PEER_TLS_KEY_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/base.left/peers/peer1.base.left/tls/server.key
        - CORE_PEER_TLS_ROOTCERT_FILE=/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/peerOrganizations/base.left/peers/peer1.base.left/tls/ca.crt
        - GODEBUG=netdns=go
      working_dir: /opt/gopath/src/github.com/hyperledger/fabric/peer
      command: /bin/bash
      volumes:
          - /var/run/:/host/var/run/
          - ./../chaincode/:/opt/gopath/src/github.com/chaincode
          - ./crypto-config:/opt/gopath/src/github.com/hyperledger/fabric/peer/crypto/
          - ./artifacts:/opt/gopath/src/github.com/hyperledger/fabric/peer/channel-artifacts
      networks:
        - byfn      


